page-home {

	#message-list {
    	border-top-style: solid;
    	border-color: #FFD700;
  	}

  	#messages {

  		border-bottom-style: solid;
  		border-color: #C0C0C0;
  		border-bottom-width: 1px;
  		padding-top: 2px;
  	}
}
